@media (max-width: 1440px) {
  body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 0.9rem;
    text-align: center;
    color: hsl(233, 13%, 49%);
    background-color: hsl(240, 78%, 98%);
    /* background: url("../images/bg-bottom.svg") left bottom no-repeat, url("../image/bg-top.svg") right top no-repeat; */
  }

  header {
    padding-top: 2%;
  }

  hr {
    width: 16.5rem;
    opacity: 0.4;
  }

  span {
    font-size: 2rem;
  }

  /* Cards */
  .white-card {
    background-color: white;
    color: hsl(232, 13%, 33%);
    position: relative;
    display: inline-block;
    padding: 1% 2% 2% 2%;
  }

  .rounded-left {
    border-radius: 3% 0 0 3%;
    left: 4px;
  }

  .rounded-right {
    border-radius: 0 3% 3% 0;
    right: 4px;
  }

  .box-shadow {
    box-shadow: 0 0px 10px GainsBoro;
  }

  .blue-card {
    background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: white;
    position: relative;
    display: inline-block;
    padding: 2.5% 2% 3.5% 2%;
    border-radius: 3%;
    z-index: 1;
  }

  .margin-top {
    margin-top: 5%;
  }

  /* Big Number */
  .big-number {
    font-size: 3.5rem;
    margin: 0;
    padding-bottom: 8%;
  }

  .spacing {
    letter-spacing: 1px;
  }

  /* Footer */
  .attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}
