@media (max-width: 1440px) {
  body {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 0.9rem;
    text-align: center;
    color: hsl(233, 13%, 49%);
    background-color: hsl(240, 78%, 98%), hsl(240, 78%, 98%);
    background: url("../images/bg-top.svg"), url("../images/bg-bottom.svg");
    background-attachment: scroll, fixed;
    background-repeat: no-repeat;
    background-position: right top, bottom left;
    background-size: 25% 85%, 350px 300px;
  }

  header {
    padding-top: 2%;
  }

  hr {
    width: 16.5rem;
    opacity: 0.4;
  }

  span {
    font-size: 2rem;
    vertical-align: middle;
  }

  /* Header */
  .prices {
    color: hsl(234, 14%, 74%);
    margin-bottom: 3%;
  }

  /* Cards */
  .white-card {
    background-color: white;
    color: hsl(232, 13%, 33%);
    position: relative;
    display: inline-block;
    padding: 1% 2% 2% 2%;
  }

  .rounded-left {
    border-radius: 3% 0 0 3%;
    left: 4px;
  }

  .rounded-right {
    border-radius: 0 3% 3% 0;
    right: 4px;
  }

  .box-shadow {
    box-shadow: 0 0px 10px GainsBoro;
  }

  .blue-card {
    background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: white;
    position: relative;
    display: inline-block;
    padding: 2.5% 2% 3.5% 2%;
    border-radius: 3%;
    z-index: 1;
  }

  /* Big Number */
  .big-number {
    font-size: 3.5rem;
    margin: 0;
    padding-bottom: 8%;
  }

  .spacing {
    letter-spacing: 1px;
  }

  /* Buttons */
  .blue-button {
    background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: white;
  }

  .blue-button:hover {
    background-image: linear-gradient(to right, white, white);
    border: 1px solid hsl(233, 13%, 49%);
    color: hsl(237, 63%, 64%);
  }

  .white-button {
    background-color: white;
    color: hsl(237, 63%, 64%);
  }

  .white-button:hover {
    background-color: hsl(237, 63%, 64%);
    border: 1px solid white;
    color: white;
  }

  .button-style {
    margin-top: 7%;
    width: 100%;
    padding: 0.8rem 0;
    border-radius: 8px;
    border: none;
    font-size: 0.7rem;
    letter-spacing: 2px;
    font-weight: 700;
  }

  /* Toggle */
  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 30px;
    margin: 1.5%;
    vertical-align: middle;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:hover+.slider {
    background-color: white;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 6px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked+.slider {
    background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  }

  input:focus+.slider {
    box-shadow: 0 0 1px hsl(234, 14%, 74%);
    background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  }

  input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 32px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  /* Footer */
  .attribution {
    font-size: 0.7rem;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}
